body {
  font: 10px sans-serif;
}

text {
  font: 10px sans-serif;
}
.arc path {
  stroke: #fff;
}

.chart {
  display: inline-block;
}


circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

text {
  font: 10px sans-serif;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

code.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}
code.node.directory {
  stroke: #9ecae1;
  stroke-width: 2px;
}
code.node.collapsed {
  stroke: #555;
}



#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fill-opacity: .5;
}

path.chord {
  stroke: #000;
  stroke-width: .25px;
}

#circle:hover path.fade {
  display: none;
}
